// font-family: 'Actor', sans-serif; -- mainfront for headings
// font-family: 'Chivo', sans-serif; -- font for secondary headings
// font-family: 'Maitree', serif; -- font for text
.navigation {
  display: flex;
  align-items: center;
  background-color: rgba(248, 248, 248, 1);
  a:nth-child(2):hover, a:nth-child(3):hover{
    transition: 0.3s ease-in-out;
    transform: translateX(-5px);
    color: #0d2d29;
  }
  @media screen and(max-width: 575.98px) {
    a {
      font-size: 1em;
    }
  }
  @media screen and(min-width: 575.99px){
   a{
     font-size: 1.2em;
   } 
  }
  a:nth-child(1) {
    font-size: 1.3em;
    color: #0d2d29;
  }
  a {
    color: #a1bcac;
    display: flex;
    align-items: center;
    font-family: "Chivo", sans-serif;
    text-decoration: none;
    padding: 0 1em;
  }
}
